/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Header */
  .header {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  
  h1 {
    font-size: 2em;
    color: #ff5733;
  }
  
  h4 {
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin-top: 0.5em;
  }
  
  